	{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
	{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SAE</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'index/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/agency.css' %}" rel="stylesheet">
        <!-- Bootstrap core JavaScript -->
    <script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'index/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'index/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'index/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'index/js/agency.min.js' %}"></script>
<style>

     @media (min-width: 992px) {
			#mainNav {
			  background-color: transparent;
			}
		}

     @media screen and (min-width:250px) and (max-width:485px)
    {
        #homeimg
        {
            height: 400px;
            padding-top: 117px;
        }

        #def
         {
             height: 225px;
             width: 350px;
         }

    }

     @media screen and (min-width:486px) and (max-width:770px)
    {
        #homeimg
        {
            height: 625px;
            padding-top: 120px;
            padding-left: 35px;
        }

        #def
         {
             height: 130px;
             width: 225px;
         }
    }

    @media (min-width: 777px)
     {
      .navbar
       {
         height: 75px;
       }
      #logimg
       {
         margin-left: -25px;
       }
     #mainNav
       {
         background-color: #212529;
       }
     #homeimg
       {
         height: 717px;
       }
     #def
         {
             height: 190px;
             width: 300px;
         }
     }

    /*@media screen and (min-width:250px) and (max-width:500px)
    {
        #homeimg
        {
            height: 400px;
            padding-top: 117px;
        }
    }
   @media screen and (min-width:510px)
    {
        #homeimg
        {
            height: 717px;
        }
         #mainNav
         {
             background-color: #212529;
         }
    }
      @media (min-width: 600px)
          {
          .navbar
          {
              height: 75px;
          }
              #logimg
              {
                  margin-left: -100px;
              }
          }
    */


      </style>
  </head>

  <body id="home">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'index/img/saelogo.png' %}" width="110px" height="90px" alt="saelogo" id="logimg" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#home">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#ndors">Ndors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#mahindra">Mahindra</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#workshops">Workshops</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#teambaha">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>




	<br>

    <section id="ndors">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase">TEAM NDORS</h2>
				</div>
			</div>
			<p class="text-muted"><b>SAEINDIA</b> is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility industry in India.
			<br><b>SAE India collegiate chapter of NIT Durgapur</b> was conceived in 2007 with an idea to integrate the students of the college into international fabric of automobile engineering. Presently 200 students are enjoying the benefits of SAE India membership.
We organize a number of innovative events, workshops and lectures round the year and a competitive place where the sharpest minds battle in the quest to achieve disctinction. SAE along with MNTC and GLUG organises <b>Aavishkar - The TechFest</b> which is the official technical fest of NIT Durgapur. SAE NIT Durgapur also publishes its annual magazine called <b>Autopia</b> for automobile enthusiasts to know about latest technologies at one place. <b>BAJA SAE</b> is a part of SAE NIT Durgapur which takes part in BAJA competition organised by SAE India. They represent NIT Durgapur at this national level competition under the team name NDORS.</p>
			</div>
	</section>

    <section id="mahindra">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase">MAHINDRA</h2>
				</div>
			</div>
			<p class="text-muted"><b>SAEINDIA</b> is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility industry in India.
			<br><b>SAE India collegiate chapter of NIT Durgapur</b> was conceived in 2007 with an idea to integrate the students of the college into international fabric of automobile engineering. Presently 200 students are enjoying the benefits of SAE India membership.
We organize a number of innovative events, workshops and lectures round the year and a competitive place where the sharpest minds battle in the quest to achieve disctinction. SAE along with MNTC and GLUG organises <b>Aavishkar - The TechFest</b> which is the official technical fest of NIT Durgapur. SAE NIT Durgapur also publishes its annual magazine called <b>Autopia</b> for automobile enthusiasts to know about latest technologies at one place. <b>BAJA SAE</b> is a part of SAE NIT Durgapur which takes part in BAJA competition organised by SAE India. They represent NIT Durgapur at this national level competition under the team name NDORS.</p>
			</div>
	</section>
    <section id="workshops">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase">WORKSHOPS</h2>
				</div>
			</div>
			<p class="text-muted"><b>SAEINDIA</b> is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility industry in India.
			<br><b>SAE India collegiate chapter of NIT Durgapur</b> was conceived in 2007 with an idea to integrate the students of the college into international fabric of automobile engineering. Presently 200 students are enjoying the benefits of SAE India membership.
We organize a number of innovative events, workshops and lectures round the year and a competitive place where the sharpest minds battle in the quest to achieve disctinction. SAE along with MNTC and GLUG organises <b>Aavishkar - The TechFest</b> which is the official technical fest of NIT Durgapur. SAE NIT Durgapur also publishes its annual magazine called <b>Autopia</b> for automobile enthusiasts to know about latest technologies at one place. <b>BAJA SAE</b> is a part of SAE NIT Durgapur which takes part in BAJA competition organised by SAE India. They represent NIT Durgapur at this national level competition under the team name NDORS.</p>
			</div>
	</section>
    <section id="teambaha">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase">TEAM MEMBERS</h2>
				</div>
			</div>
			<p class="text-muted"><b>SAEINDIA</b> is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility industry in India.
			<br><b>SAE India collegiate chapter of NIT Durgapur</b> was conceived in 2007 with an idea to integrate the students of the college into international fabric of automobile engineering. Presently 200 students are enjoying the benefits of SAE India membership.
We organize a number of innovative events, workshops and lectures round the year and a competitive place where the sharpest minds battle in the quest to achieve disctinction. SAE along with MNTC and GLUG organises <b>Aavishkar - The TechFest</b> which is the official technical fest of NIT Durgapur. SAE NIT Durgapur also publishes its annual magazine called <b>Autopia</b> for automobile enthusiasts to know about latest technologies at one place. <b>BAJA SAE</b> is a part of SAE NIT Durgapur which takes part in BAJA competition organised by SAE India. They represent NIT Durgapur at this national level competition under the team name NDORS.</p>
			</div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                    <div class="team-member">
						<img class="mx-auto rounded-circle" src="{% static 'index/img/team/anand.jpg' %}" alt="">
						<h4>Anand Jhunjhunwala</h4>
						<p class="text-muted">General Secretary</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
									<a href="#">
										<i class="fas fa-phone" data-toggle="tooltip" title="9903322358"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.facebook.com/anand.jhunjhunwala.315"  target='_blank'>
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="mailto:anand.13696@gmail.com">
										<i class="fas fa-envelope" data-toggle="tooltip" title="anand.13696@gmail.com"></i>
									</a>
								</li>
						</ul>
					</div>
                </div>
                <div class="col-lg-6">
                    <div class="team-member">
						<img class="mx-auto rounded-circle" src="{% static 'index/img/team/anand.jpg' %}" alt="">
						<h4>Anand Jhunjhunwala</h4>
						<p class="text-muted">General Secretary</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
									<a href="#">
										<i class="fas fa-phone" data-toggle="tooltip" title="9903322358"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.facebook.com/anand.jhunjhunwala.315"  target='_blank'>
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="mailto:anand.13696@gmail.com">
										<i class="fas fa-envelope" data-toggle="tooltip" title="anand.13696@gmail.com"></i>
									</a>
								</li>
						</ul>
					</div>
                </div>
                </div>		
			</div>
            <div class="col-lg-8 mx-auto text-center">
				<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/allteam/">Meet All Members</a>
			</div>
	</section>
  </body>


  <!-- Portfolio Grid -->
 
		 <!-- Footer -->
    <footer  style="background-color:whitesmoke">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="copyright">Copyright &copy; Sae-NIT Durgapur 2018</span>
    </div>

    <div class="col-md-4">
    </div>

<div class="col-md-4">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/SAENITD/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
         <li class="list-inline-item">
          <a href="mailto:sae.nitdgp1@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
</html>
