{% extends "announcements/header.html" %}

{% block content %}

	{% load static %}

	<br>
	<br>
	<br>
	<br>
	<br>

	<!-- Page Content -->
    <div class="container">
			<div class="container">
				<div>
				<br>
				<br>
				<br>
				<br>
				<br>
				</div>

      <!--<div class="row">

        <!--<header class="masthead text-center text-white d-flex">-->
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong><center>Announcements</center></strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5"> </p>
				<br>
			<!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'announcements/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'announcements/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!--<img src="{% static 'announcements/img/bg.jpg' %}" style="max-width: 100%; height: auto;" />
	{% for post in object_list %}
		<h5>{{post.date|date:"Y-m-d"}}</h5>
		<h4><a href="/announcements/{{post.id}}"> {{post.title}} </a> </h4>
	{% endfor %}-->

{% endblock %}
